[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
cython = "==0.29.9"
trio = "*"
pillow = "*"
kivy = {git = "git://github.com/kivy/kivy.git", ref="52d12ebf33e410c9f4798674a93cbd0db8038bf1"}
asynckivy = {git = "https://github.com/gottadiveintopython/asynckivy"}

[dev-packages]
pytest-trio = "*"
