[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
cython = "==0.29.14"
trio = "*"
pillow = "*"
kivy = {git = "git://github.com/kivy/kivy.git",ref = "master"}
asynckivy = "*"
pyyaml = "*"
pygments = "*"
kivyx = {editable = true,path = "./../kivyx"}

[dev-packages]
pytest-trio = "*"
